@import "common/variables";

$progress-bg: #ccc;
$progress-height: 1.5rem;
$progress-border-radius: 0.25rem;

/** Bootstrap stuff **/
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/utilities/align";

@import "components/poll";

/** ACF admin styles **/
.acf-clear-left {
  clear: left !important;
}
